<br>

<h1>Product Check</h1>
<a>Product id: </a><input id="prodChecktxtBox"  [(ngModel)]="prodid"/>
<button id="prodCheckBtn" (click)="prodCheck()">Send</button>
<br>
<p *ngFor="let item of products">

    {{item.id}}, {{item.name}}, {{item.price}}, {{item.quantity}},
    <a *ngIf="image">  
      <img [src]="imgBase64" />
    </a>

</p>
<br>
<h1>Find Product by image</h1>
<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
[allowCameraSwitch]="allowCameraSwitch" 
[videoOptions]="videoOptions"
[imageQuality]="1"
(initError)="handleInitError($event)"
></webcam>
<br/>
<button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
<button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
<br/>
<div class="snapshot" *ngIf="webcamImage">
<h2>Logging in with this image:</h2>
<img [src]="webcamImage.imageAsDataUrl"/>
</div>
<a>Product: </a>
<select name="name" [(ngModel)]="prodfind" class="form-control" required>
  <option *ngFor="let tag of tags" >{{tag.name}}</option>
</select>

<button id="prodFindBtn" (click)="prodFind()">Send</button>
<br>
<h2>This shop</h2>
<a>ID  Name  Price  Qty</a>
<p *ngFor="let product of filteredProducts">
  {{product.id}}, {{product.name}}, {{product.price}}, {{product.quantity}}
</p>

<h2>Tesco</h2>
<a>Name  Price </a>
<p *ngFor="let product of tescoGrocery">
  {{product.itemName}}, {{product.price}}
</p>

<br>
