
<form #InventoryAdd="ngForm" (ngSubmit)="addProduct()">
  <h2 class="text-center text-primary">Add Item</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" required name="Name" [(ngModel)]="model.Name" placeholder="Item Name">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" required name="Price" [(ngModel)]="model.Price" placeholder="Price">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" required name="Quantity" [(ngModel)]="model.Quantity" placeholder="Quantity">
  </div>

  <div class="form-group">
    <input id="addBarcode" style (click)="resetColour()" type="number" class="form-control" required name="Barcode" [(ngModel)]="model.Barcode" placeholder="Barcode - Leave empty to automatically enter">
  </div>
  
  <div class="form-group">
    <input type="file" (change)="handleFileInput($event)" required name="Photo">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" (click)="cancel()" type="button">Cancel</button>
  </div>
  
</form>

<form #InventoryUpdate="ngForm" (ngSubmit)="updateProduct()">
  <h2 class="text-center text-primary">Update Item</h2>
  <hr>

  <div class="form-group">
    <!--<input type="text" class="form-control" required name="name" [(ngModel)]="model.name" placeholder="Item Name">-->
    <select name="name" [(ngModel)]="model.name" class="form-control" required>
      <option *ngFor="let prod of products" >{{prod.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <input type="number" class="form-control" required name="price" [(ngModel)]="model.price" placeholder="Price">
  </div>

  <div class="form-group">
  <input type="number" class="form-control" required name="quantity" [(ngModel)]="model.quantity" placeholder="Quantity">
  </div>

  <div class="form-group">
    <input type="number" id="updateBarcode" style (click)="resetColour()" class="form-control" required name="Barcode" [(ngModel)]="model.barcode" placeholder="Barcode - Leave empty to not change">
  </div>

  <div class="form-group">
    <input type="file" (change)="handleFileInput($event)" required name="Photo">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" (click)="cancel()" type="button">Cancel</button>
  </div>
  
</form>

<a>ID  Name  Price  Qty</a>
<p *ngFor="let product of products">
  {{product.id}}, {{product.name}}, {{product.price}}, {{product.quantity}}
  <button id="deleteProd" (click)="deleteItem(product.id)">X</button>
</p>
