<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class = "container-fluid">

      <a class="navbar-brand" [routerLink]="['/home']" style="color:white">Cashier Client</a>

    <ul class="navbar-nav mr-auto">
      <li *ngIf="loggedIn()" onclick="refreshPage()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/cashier']">Cashier</a>
        </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a *ngIf="isAdmin()==true" class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/inventory']">Inventory</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a *ngIf="isAdmin()==true" class="nav-link" [routerLink]="['/members']">Users</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a *ngIf="isAdmin()==true" class="nav-link" (click)="registerToggle()" [routerLink]="['/register']">Register</a>
      </li>
      <li *ngIf="loggedIn()"  class="nav-item" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/transactions']">Transactions</a>
      </li>
      
      <li class="dropdown" routerLinkActive="active"  dropdown>
        <a class="dropdown-toggle text-light nav-link"  id="Assistant" dropdownToggle>
          Shopping Assistant
        </a>
      
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="nav-link" [routerLink]="['/prodCheck']">Product Check</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" [routerLink]="['/prodCheckImage']">Product Check Image</a>
        </div>
      </li>

    </ul>

    <!-- 
    <button (click)="test()">Activate ROle</button>
    -->
    
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken.unique_name | titlecase}}
      </a>
    
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Log in</button>
    </form>
    
  </div>

</nav>
<!--

<app-register *ngIf="registerMode"></app-register>

-->