<br>

<h1>Product Check</h1>
<a>Product id: </a><input id="prodChecktxtBox"  [(ngModel)]="prodid"/>
<button id="prodCheckBtn" (click)="prodCheck()">Send</button>
<br>
<br>
<br>
<p *ngFor="let item of products">

    {{item.id}}, {{item.name}}, {{item.price}}, {{item.quantity}},
    <a *ngIf="image">  
      <img [src]="imgBase64" />
    </a>

</p>
<br>
<br>
<br>
<h1>Find Product by Name</h1>
<a>Product: </a><input id="prodFindtxtBox"  [(ngModel)]="prodfind"/>
<button id="prodFindBtn" (click)="prodFind()">Send</button>
<br>
<h2>This shop</h2>
<a>ID  Name  Price  Qty</a>
<p *ngFor="let product of filteredProducts">
  {{product.id}}, {{product.name}}, {{product.price}}, {{product.quantity}}
</p>

<h2>Tesco</h2>
<a>Name  Price </a>
<p *ngFor="let product of tescoGrocery">
  {{product.itemName}}, {{product.price}}
</p>
